@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .header {
    padding-left: 0;
    padding-right: 4.8rem;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 80%;
  }

  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .tretmani-opis {
    font-size: 1.8rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-bar {
    background-color: #a8dadc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: none;

    flex-direction: column;
  }

  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
  }

  .metode-img:nth-child(1) {
    grid-row: 2;
  }

  .martemeoimg {
    margin-top: -4rem;
  }

  .metode-img:nth-child(5) {
    grid-row: 6;
    margin-top: -4rem;
  }

  .SI-gallery {
    margin-top: -4rem;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 26em) {
  .nav-bar-link {
    font-size: 3.8rem;
  }

  .grid-4-cols {
    grid-template-columns: 1fr;
  }

  .hero {
    padding: 0;
  }

  .hero-img {
    width: 100%;
  }

  .section-tretmani,
  .section-metode,
  .section-about,
  .section-contact,
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-text {
    margin: 2rem;
  }

  .contact-img {
    display: none;
  }

  .contact-box {
    display: block;
    height: auto;
  }

  .footer {
    padding-top: 4rem;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .first-flex {
    margin-bottom: 4rem;
  }

  .footer-logofb {
    align-items: center;
  }

  .logo-footer {
    width: 27.6rem;
  }

  .titula {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .ime {
    font-size: 2.2rem;
  }

  .logo {
    height: 3.2rem;
    width: 3.2rem;
  }

  .copy-and-design {
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .footer {
    padding-bottom: 2rem;
  }

  .footer-map {
    margin-top: 3.2rem;
  }
}
